doctype html
html
  head 
    title= '${title}'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body 
    div.container.listing-reg 
      h1 My Marriage Blog: 
        p June 5th 2015 - Summer, 2021

      block content